/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.flex {
    display: flex;
}

.container {
    display: flex;
    justify-content: center;
}

.active {
    color: blue;
}

#carousel {
    display: flex;
    align-items: center;
    margin-top: 300px;
}

.fa-chevron-left,
.fa-chevron-right {
    font-size: 3rem;
}

.fa-circle {
    margin: 0 5px;
}

#carousel-images {
    position: relative;
}

.carousel-bullets {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(71, 71, 71, 0.514);
    color: white;
}

img {
    border-radius: 25px;
}

